
@font-face /* Her sætter vi font type vi vil importere */
{
    font-family: "Avenir";
    src: url(../Font/Avenir.ttf) format("truetype");
}

/* Start på header */

.baggrundsfarve
{
    background:#ffd700;
    margin:-8px;
}

.header
{
    padding-top: 25px;
}

.Logo
{
    margin-left: 35px;
}

.LogoText
{
    font-family: Avenir, "Times New Roman";
}

.dropdown
{
    float: right;
    font-size: 18px;
    margin-left: 500px;
    margin-right: 40px;
    margin-top: 70px;
    font-family: Avenir, "Times New Roman";
    justify-content: space-between;
}

.dropdown1, .dropdown2, .dropdown3
{
    margin-left: 25px;
    margin-right: 25px;
}

.topLinkFarve:visited /*Sørger for at links ikke bliver lilla efter man har clicket på dem*/
{
    color: black;
}

.bundLinkFarve:visited /*Sørger for at links ikke bliver lilla efter man har clicket på dem*/
{
    color: white;
}

/* Slut på header*/

.hr2
{
    margin-left: 22%;
    margin-top: -7.5px;
    margin-bottom: 10px;
    border: 1.3px solid black;
}

/* Start på Top */

.forsideBillede
{
    width: 50%;
    margin-top: 8px;
    float: right;
    border-radius: 200px 0 0 200px;
}

.forsideTekst
{
    float: left;
    width: 41%;
    font-family: Avenir, "Times New Roman";
    margin-left: 60px;
    font-size: 20px;
}

.OversteTekst {
    height: 515px;
    width: 100%;
    margin-top: -20px;
}

.overskrift
{
    font-family: Avenir, "Times New Roman";
    font-size: 30px;
    margin-left: 62px;
    margin-top: 80px
}

/* Slut på top */

.opdeling
{
    margin: 5px -8px 20px -8%;
    border: 8px solid seagreen;
}

/* Start på midt */

.fBaggrund1
{
    background-color: beige;
    overflow: hidden;
    margin: -20px -20px 19px -20px;

}
.forbrugerbillede1
{
    margin-top: 0;
    align-items:center;
    float: right;
    width: 40%;
}

.fSpan1
{
    float: left;
    width: 45%;
    margin: 70px 70px 70px 70px;
    font-family: Avenir, "Times New Roman";
    font-size: 20px;

}

.fBaggrund2
{
    background-color: blanchedalmond;
    overflow: hidden;
    margin: -20px -20px 19px -20px;
}
.forbrugerbillede2
{
    width: 40%;
    margin-top: 0;
    float: left;
}

.fSpan2
{
    float: right;
    width: 45%;
    margin: 70px 70px 70px 70px;
    font-family: Avenir, "Times New Roman";
    font-size: 20px;
}

.fBaggrund3
{
    background-color: beige;
    overflow: hidden;
    margin: -20px -20px 19px -20px;
}

.forbrugerbillede3
{
    width: 40%;
    margin-top: 0;
    float: right;
}

.fSpan3
{
    float: left;
    width: 45%;
    margin: 70px 70px 70px 70px;
    font-family: Avenir, "Times New Roman";
    font-size: 20px;
}

/* Slut på midt */

.opdelingBund
{
    margin: -19px -8px 20px -8%;
    border: 8px solid seagreen;
}

/* Start på bund */

.baggrundsfarveBund
{
    background:#ffd700;
    margin:-20px;
}

.bundBaggrund
{
    background: #ffd700;
    height: 530px;
    margin: -20px -8px 0 -8px;
}

.row
{
    display: flex;

}

.column
{
    flex: 25%;
    margin: 30px;
    text-align: center;
}

.bundknapper
{
    display: flex;
    justify-content: space-around;
}

.bundknap
{
    padding: 10px 20px;
    margin: 0 80px 0 80px;
    font-family: Avenir, "Times New Roman";
    font-size: 20px;
    text-align: center;
    background-color: seagreen;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

/* Slut på bund */

/* Start på footer */

footer
{
    background-color: seagreen;
    font-size: 16px;
    margin: -20px -20px -20px -20px;
    height: 330px;
}

.footer-container
{
    display: flex;
    justify-content: center;
}

.footer-content
{
    margin: 50px;
    width: 280px;
    text-align: center;
    font-family: Avenir, "Times New Roman";
    color: white;
}

.footer-content h3
{
    font-size: 24px;
    font-family: Avenir, "Times New Roman";
    color: white;
}

ul
{
    list-style: none;
    padding: 0;
}

a
{
    color: white;
    font-family: Avenir, "Times New Roman";
    text-decoration: none;
}

a:hover
{
    color: black;
}

/* Slut på footer */