<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>UI Projekt madspild test af pull request 2023</title>
</head>

<link rel="stylesheet" href="../static/CSS/SpecialStyles.css" />

<body>

<!-- Start på header -->

<div class = "baggrundsfarve"> <!--Vi laver baggrundsfarve rundt om både header og top så det hele smelter sammen-->
    <header class = "header">
        <span class = "Logo">
            <a href="Forside.html"><img src="../static/Billeder/Logo.png" alt="Logo picture" width="100px" height="100px"></a>
        </span>
        <span class = "LogoText">
             ...FEEDING THE FUTURE
        </span>
        <span class = "dropdown">
            <span class = "textToPicture">
            </span>
            <span class = "dropdown1"><a class="topLinkFarve" href="Forbruger.html" style="text-decoration: none">FORBRUGER</a></span>
            <span class = "dropdown2"><a class="topLinkFarve" href="Detail.html" style="text-decoration: none">DETAIL</a></span>
            <span class = "dropdown3"><a class="topLinkFarve" href="Produktion.html" style="text-decoration: none">PRODUKTION</a></span>
        </span>
    </header>

    <!-- Slut på header -->

    <hr class = "hr2">

    <!-- Start på top -->

    <div class = "OversteTekst">
        <div>
            <img src="../static/Billeder/Supermarked.jpg" alt="Main page picture" class = "forsideBillede">
        </div>
        <div>
            <h1 class = "overskrift">Detail</h1>
        </div>
        <div class = "forsideTekst">
            <p>Vidste I, at madspild er en af de største udfordringer, supermarkeder står over for? Det er ikke kun et spørgsmål om økonomi, men også omdømme og bæredygtighed.</p>
            <p>Ved at begrænse madspild kan vi ikke kun forbedre vores bundlinje, men også mindske den miljømæssige påvirkning og hjælpe med at bekæmpe fødevaremangel. </p>
            <p>Der er mange måder, vi kan reducere madspildet på, som f.eks. at købe varer i mindre mængder, sælge varer tæt på udløbsdatoen til nedsat pris og donere overskydende mad til lokale organisationer, der hjælper de trængende. Lad os alle arbejde sammen for at begrænse madspild og skabe en mere bæredygtig fremtid!</p>
        </div>
    </div>
</div>

<!-- Slut på top -->

<hr class = "opdeling">

<!-- Start på midt-->

<div class = "fBaggrund1">
    <img src="../static/Billeder/grøntsater.jpeg" alt="Main page picture" class = "forbrugerbillede1">
    <div class = "fSpan1">
        <p> Detailhandel spiller en vigtig rolle i madspildsproblemet, da butikker ofte har en kort holdbarhedsdato på fødevarer og kan have udfordringer med at forudsige efterspørgslen og tilpasse mængden af varer i butikken. Det kan føre til, at butikker smider overskydende varer ud, som stadig er spiselige.</p>
           <p> Der er dog også et stigende fokus på at reducere madspild i detailhandlen. Mange butikker har implementeret tiltag såsom at donere overskudsmad til velgørenhed, sælge varer med kort holdbarhed til nedsatte priser og optimere lagerstyring og logistik.</p>
    </div>
</div>

<div class = "fBaggrund2">
    <img src="../static/Billeder/SupermarkedKoleskab.Jpg" alt="Main page picture" class = "forbrugerbillede2">
    <div class = "fSpan2">
        <p> Madspild i detailhandlen kan også ske, når varer bliver kasseret på grund af mindre skønhedsfejl, såsom frugt og grøntsager, der ikke er "perfekte" i form eller størrelse. Nogle butikker har imidlertid implementeret initiativer til at sælge disse varer til reducerede priser eller donere dem til velgørenhedsorganisationer.</p>
        <p>Detailhandlere har også mulighed for at samarbejde med producenter og landmænd for at skabe mere bæredygtige og effektive forsyningskæder, der kan reducere madspildet fra produktionen og forarbejdningen.</p>
        <p>Endelig kan detailhandlere også uddanne og oplyse deres medarbejdere og kunder om vigtigheden af at reducere madspild og give vejledning om korrekt opbevaring og brug af rester.</p>
    </div>
</div>

<div class = "fBaggrund3">
    <img src="../static/Billeder/cleaningSupermarket.jpeg" alt="Main page picture" class = "forbrugerbillede3">
    <div class = "fSpan3">
        <p>Et stigende antal butikker tilbyder også muligheden for at købe løs vægt-varer, såsom korn, pasta og ris, i stedet for forpakninger, der kan føre til mere madspild i hjemmet.</p>
        <p>Der er også en stigende tendens til at opfordre forbrugere til at medbringe deres egne opbevaringsbeholdere til kød, fisk og delikatesser i stedet for at bruge engangsforpakninger.</p>
        <p>Nogle butikker har også lanceret apps, der giver forbrugerne mulighed for at se tilbud og rabatter på varer med kort holdbarhed og planlægge deres indkøb i overensstemmelse hermed.</p>
    </div>
</div>

<!-- Slut på midt-->

<div>
    <hr class = "opdelingBund">
</div>

<!--Start på bund -->

<div class = "bundBaggrund">
    <div class = "row">
        <div class = "column"><img src="../static/Billeder/Forbruger.jpg" alt="footer-billede 1" style="width: 50%; border-radius: 5%"></div>
        <div class = "column"><img src="../static/Billeder/Produktion.png" alt="footer-billede 3" style="width: 50%; border-radius: 5%"></div>
    </div>

    <div class = "bundknapper">
        <span class = "bundknap" style="width: 20%"><a class ="bundLinkFarve" href="Forbruger.html" style="text-decoration: none">FORBRUGER</a></span>
        <span class = "bundknap" style="width: 20%"><a class ="bundLinkFarve" href="Produktion.html" style="text-decoration: none">PRODUKTION</a></span>
    </div>
</div>

<!-- Slut på bund-->

<!-- Start på footer-->

<footer>
    <div class="footer-container">
        <div class="footer-content">
            <h3>BugBusters A/S 2023</h3>
            <p> Et ungt team med masser af gåpåmod og gode værdier.</p>
        </div>
        <div class="footer-content">
            <h3>Samarbejdspartnere</h3>
            <ul> <!--Unordered List-->
                <li><a href="https://stopspildafmad.org/">Stop Spild Af Mad</a></li>
                <!--<a> står får anchor og bruges til at lave et hyperlink-->
                <li><a href="https://chat.openai.com/">Chat GPT</a></li>
                <li><a href="https://foedevarebanken.dk/">FødevareBanken</a></li>
                <li><a href="https://www.heinz57.dk/">Heinz</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h3>Kontakt os</h3>
            <p>KEA<br>Nørrebro, Danmark<br>DK</p>
            <!-- <br> er en linebreak, skal ikke have closing brackets-->
            <p>Tlf: 12345678<br>Email: hejmeddig@banan.dk</p>
        </div>
    </div>
</footer>

<!-- Slut på footer-->

</body>
</html>