<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI Projekt madspild 2023</title>
</head>
<link rel="stylesheet" href="../static/CSS/SpecialStyles.css"/>
<body>

<!-- Start på header -->

<div class="baggrundsfarve"> <!--Vi laver baggrundsfarve rundt om både header og top så det hele smelter sammen-->
    <header class="header">
        <span class="Logo">
            <a href="Forside.html"><img src="../static/Billeder/Logo.png" alt="Logo picture" width="100px" height="100px"></a>
        </span>
        <span class="LogoText">
             ...FEEDING THE FUTURE
        </span>
        <span class="dropdown">
            <span class="textToPicture"></span>
                <span class="dropdown1"><a class="topLinkFarve" href="Forbruger.html" style="text-decoration: none">FORBRUGER</a></span>
                <span class="dropdown2"><a class="topLinkFarve" href="Detail.html" style="text-decoration: none">DETAIL</a></span>
                <span class="dropdown3"><a class="topLinkFarve" href="Produktion.html" style="text-decoration: none">PRODUKTION</a></span>
        </span>
    </header>

    <!-- Slut på header -->

    <hr class="hr2">

    <!-- Start på top -->

    <div class="OversteTekst">
        <div>
            <img src="../static/Billeder/ForbrugerForside.jpg" alt="Main page picture" class="forsideBillede">
        </div>
        <div>
            <h1 class="overskrift">Forbruger</h1>
        </div>
        <div class="forsideTekst">
            <p>Har du nogensinde følt dig skyldig over at smide mad ud? Eller har du måske set madvarer i dit køleskab,
                der er gået dårlige, fordi du ikke fik dem brugt i tide? Det er tid til at tage ansvar for vores
                madspild! </p>
            <p>Vi skal alle tage ansvar for vores madspild og bidrage til en mere bæredygtig fremtid. Planlæg dine
                indkøb, opbevar dine madvarer korrekt, brug dine rester og vær kreativ i dit køkken. Lad os alle gøre en
                indsats for at mindske vores madspild og bidrage til en bedre verden.</p>
        </div>
    </div>
</div>

<!-- Slut på top -->

<hr class="opdeling">

<!-- Start på midt -->

<div class="fBaggrund1">
    <img src="../static/Billeder/koleskab.jpg" alt="Main page picture" class="forbrugerbillede1">
    <div class="fSpan1">
        <p>Opbevar maden korrekt: Opbevar maden korrekt i køleskabet og fryseren, og undgå at lade madvarer gå dårlige.
            Brug først mad, der udløber først, og sørg for at fryse overskydende mad til senere brug.</p>
        <p>Vær opmærksom på datomærkning: Vær opmærksom på datomærkning på fødevarer, men forstå også, at datomærkninger
            ikke nødvendigvis betyder, at maden er dårlig. Brug din sunde fornuft til at vurdere, om maden stadig er god
            at spise.</p>
    </div>
</div>
<div class="fBaggrund2">
    <img src="../static/Billeder/Madgryde.jpeg" alt="Main page picture" class="forbrugerbillede2">
    <div class="fSpan2">
        <p>Lav mad af rester: Brug rester til at lave nye måltider. Du kan f.eks. bruge kogte grøntsager i en omelet
            eller bruge kød til at lave en sandwich.</p>
        <p>Vær opmærksom på portionsstørrelser: Vær opmærksom på portionsstørrelser, og kog kun den mængde mad, du har
            brug for. Hvis du har mad tilovers, kan du altid gemme det til senere eller fryse det ned.</p>
        <p>Spis op: Spis op maden, inden den går dårlig. Hvis du ikke kan spise op maden, kan du altid give det til en
            ven eller familiemedlem eller donere det til en velgørenhedsorganisation.</p>
    </div>
</div>

<div class="fBaggrund3">
    <img src="../static/Billeder/madplan.jpg" alt="Main page picture" class="forbrugerbillede3">
    <div class="fSpan3">Planlæg dine måltider: Planlæg dine måltider på forhånd, så du ved, hvad du vil spise i løbet af
        ugen. Tjek din madbeholdning i køleskabet, fryseren og skabe, og køb kun de nødvendige ingredienser for at undgå
        overkøb.
    </div>
</div>

<!-- Slut på midt -->

<hr class="opdelingBund">

<!--Start på bund -->

<div class="baggrundsfarveBund"></div>

<div class="bundBaggrund">
    <div class="row">
        <div class="column"><img src="../static/Billeder/Detail.png" alt="footer-billede 1" style="width: 50%; border-radius: 5%"></div>
        <div class="column"><img src="../static/Billeder/Produktion.png" alt="footer-billede 3" style="width: 50%; border-radius: 5%"></div>
    </div>

    <div class="bundknapper">
        <span class="bundknap" style="width: 20%"><a class="bundLinkFarve" href="Detail.html" style="text-decoration: none">DETAIL</a></span>
        <span class="bundknap" style="width: 20%"><a class="bundLinkFarve" href="Produktion.html" style="text-decoration: none">PRODUKTION</a></span>
    </div>
</div>

<!-- Slut på bund-->

<!-- Start på footer-->

<footer>
    <div class="footer-container">
        <div class="footer-content">
            <h3>BugBusters A/S 2023</h3>
            <p> Et ungt team med masser af gåpåmod og gode værdier.</p>
        </div>
        <div class="footer-content">
            <h3>Samarbejdspartnere</h3>
            <ul> <!--Unordered List-->
                <li><a href="https://stopspildafmad.org/">Stop Spild Af Mad</a></li>
                <!--<a> står får anchor og bruges til at lave et hyperlink-->
                <li><a href="https://chat.openai.com/">Chat GPT</a></li>
                <li><a href="https://foedevarebanken.dk/">FødevareBanken</a></li>
                <li><a href="https://www.heinz57.dk/">Heinz</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h3>Kontakt os</h3>
            <p>KEA<br>Nørrebro, Danmark<br>DK</p>
            <!-- <br> er en linebreak, skal ikke have closing brackets-->
            <p>Tlf: 12345678<br>Email: hejmeddig@banan.dk</p>
        </div>
    </div>
</footer>

<!-- Slut på footer-->

</body>
</html>