<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI Projekt madspild 2023</title>
</head>
<link rel="stylesheet" href="../static/CSS/MyStyles.css"/>
<body>

<!-- Start på header -->

<div class="baggrundsfarve"> <!--Vi laver baggrundsfarve rundt om både header og top så det hele smelter sammen-->
    <header class="header">
        <span class="Logo">
            <a href="Forside.html"><img src="../static/Billeder/Logo.png" alt="Logo picture" width="100px" height="100px"></a>
        </span>
        <span class="LogoText">...FEEDING THE FUTURE</span>
        <span class="dropdown">
            <span class="textToPicture"></span>
            <span class="dropdown1"><a class="topLinkFarve" href="Forbruger.html" style="text-decoration: none">FORBRUGER</a></span>
            <span class="dropdown2"><a class="topLinkFarve" href="Detail.html" style="text-decoration: none">DETAIL</a></span>
            <span class="dropdown3"><a class="topLinkFarve" href="Produktion.html" style="text-decoration: none">PRODUKTION</a></span>
        </span>
    </header>

    <!-- Slut på header -->

    <hr class="hr2">

    <!-- Start på top -->

    <div class="OversteTekst">
        <div>
            <img src="../static/Billeder/Forsidebillede.jpg" alt="Main page picture" class="forsideBillede">
        </div>
        <div>
            <h1 class="overskrift">Danmark mod madspild</h1>
        </div>
        <div class="forsideTekst">
            <p>Madspild er den uønskede og unødvendige tab af fødevarer. Det kan ske på forskellige måder, såsom
                overskud af fødevarer, der ikke sælges i butikker, eller overskydende mad, der går til spilde i
                restauranter eller i husholdninger.</p>
            <p>Madspild kan også opstå på grund af dårlig håndtering og opbevaring af fødevarer, hvor de bliver ødelagt
                eller fordærvet, før de kan blive spist. Det er et stort problem for både økonomien og miljøet. Det
                skaber ikke kun spild af ressourcer og kan have alvorlige konsekvenser for fødevaresikkerheden, men det
                bidrager også til den globale opvarmning ved at producere drivhusgasser under produktionen og
                transporten af fødevarer.</p>
        </div>
    </div>
</div>

<!-- Slut på top -->

<hr class="opdeling">

<!-- Start på forside dropdown facts -->

<div class="FactsOmMadspild">Facts om madspild</div>
<div class="MellemrumDD"></div>
<div style="padding: 20px">
    <details>
        <summary>Madspild i Danmark</summary>
        <p>Ifølge Miljø- og Fødevareministeriet blev der i 2019 smidt ca. 703.000 tons mad ud i Danmark, hvilket svarer
            til næsten 2.000 tons mad om dagen. Det er et meget højt tal, og det er både et økonomisk og et miljømæssigt
            problem.</p>
    </details>
</div>
<div style="padding: 20px">
    <details>
        <summary>Miljøpåvirkninger</summary>
        <p>Når mad bliver smidt ud, er det spild af de ressourcer, der er blevet brugt til at producere, transportere og
            opbevare maden. Desuden er madspild også en stor kilde til drivhusgas-emissioner, da maden ofte ender på
            lossepladser, hvor den nedbrydes og udleder metan, som er en kraftig drivhusgas.</p>
    </details>
</div>
<div style="padding: 20px">
    <details>
        <summary>Ansvar og handlinger</summary>
        <p>Derfor er det vigtigt at reducere madspild ved at tage små skridt i hverdagen, fx ved at planlægge måltiderne
            bedre, opbevare maden korrekt, og bruge rester på en kreativ måde. Samtidig kan både producenter,
            supermarkeder og restauranter også tage ansvar for at reducere madspild ved at fokusere på bedre planlægning
            og logistik, samt ved at donere overskudsmad til velgørenhed eller til dyrefoder</p>
    </details>
</div>
<div style="padding: 20px">
    <details>
        <summary>Globalt madspild</summary>
        <p>Ifølge FN's Fødevare- og Landbrugsorganisation (FAO) bliver omkring en tredjedel af al produceret mad i
            verden, svarende til ca. 1,3 milliarder ton, aldrig spist af mennesker.</p>
    </details>
</div>
<div style="padding: 20px">
    <details>
        <summary>Ulande</summary>
        <p>Udviklingslande har større tendens til at have madspild i produktion og forarbejdning, mens de mere udviklede
            lande har større tendens til at have madspild i forbindelse med detailhandlen og forbrug.</p>
    </details>
</div>
<div style="padding: 20px">
    <details>
        <summary>FN mål om Madspild</summary>
        <p>FN har fastsat et bæredygtighedsmål om at halvere madspildet på verdensplan inden 2030.</p>
    </details>
</div>

<!-- Slut på forside dropdown facts-->

<p class="whitespace"> </p>
<hr class="opdeling">

<!-- Start på forside bund-->

<div class="baggrundsfarve"></div>

<div class="bundBaggrund">
    <div class="row">
        <div class="column"><img src="../static/Billeder/Forbruger.jpg" alt="footer-billede 2" style="width: 75%; border-radius: 5%"></div>
        <div class="column"><img src="../static/Billeder/Detail.png" alt="footer-billede 1" style="width: 75%; border-radius: 5%"></div>
        <div class="column"><img src="../static/Billeder/Produktion.png" alt="footer-billede 3" style="width: 75%; border-radius: 5%"></div>
    </div>
    <div class="bundknapper">
        <span class="bundknap" style="width: 100%"><a class="bundLinkFarve" href="Forbruger.html" style="text-decoration: none">FORBRUGER</a></span>
        <span class="bundknap" style="width: 100%"><a class="bundLinkFarve" href="Detail.html" style="text-decoration: none">DETAIL</a></span>
        <span class="bundknap" style="width: 100%"><a class="bundLinkFarve" href="Produktion.html" style="text-decoration: none">PRODUKTION</a></span>
    </div>
</div>

<!-- Slut på forside bund-->

<!-- Start på forside footer-->

<footer>
    <div class="footer-container">
        <div class="footer-content">
            <h3>BugBusters A/S 2023</h3>
            <p> Et ungt team med masser af gåpåmod og gode værdier.</p>
        </div>
        <div class="footer-content">
            <h3>Samarbejdspartnere</h3>
            <ul> <!--Unordered List-->
                <li><a href="https://stopspildafmad.org/">Stop Spild Af Mad</a></li>
                <!--<a> står får anchor og bruges til at lave et hyperlink-->
                <li><a href="https://chat.openai.com/">Chat GPT</a></li>
                <li><a href="https://foedevarebanken.dk/">FødevareBanken</a></li>
                <li><a href="https://www.heinz57.dk/">Heinz</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h3>Kontakt os</h3>
            <p>KEA<br>Nørrebro, Danmark<br>DK</p>
            <!-- <br> er en linebreak, skal ikke have closing brackets-->
            <p>Tlf: 12345678<br>Email: hejmeddig@banan.dk</p>
        </div>
    </div>
</footer>

<!-- Slut på forside footer-->

</body>
</html>