<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI Projekt madspild 2023</title>
</head>
<link rel="stylesheet" href="../static/CSS/SpecialStyles.css" />
<body>

<!-- Start på header -->

<div class = "baggrundsfarve"> <!--Vi laver baggrundsfarve rundt om både header og top så det hele smelter sammen-->
    <header class = "header">
        <span class = "Logo">
            <a href="Forside.html"><img src="../static/Billeder/Logo.png" alt="Logo picture" width="100px" height="100px"></a>
        </span>
        <span class = "LogoText">...FEEDING THE FUTURE</span>
        <span class = "dropdown">
            <span class = "textToPicture"></span>
            <span class = "dropdown1"><a class="topLinkFarve" href="Forbruger.html" style="text-decoration: none">FORBRUGER</a></span>
            <span class = "dropdown2"><a class="topLinkFarve" href="Detail.html" style="text-decoration: none">DETAIL</a></span>
            <span class = "dropdown3"><a class="topLinkFarve" href="Produktion.html" style="text-decoration: none">PRODUKTION</a></span>
        </span>
    </header>

    <!-- Slut på header -->

    <hr class = "hr2">

    <!-- Start på top -->

    <div class = "OversteTekst">
        <div>
            <img src="../static/Billeder/heinz.jpg" alt="Main page picture" class = "forsideBillede">
        </div>
        <div>
            <h1 class = "overskrift">Produktion</h1>
        </div>
        <div class = "forsideTekst">
            <p>Virksomheder har brug for at tage et aktivt skridt til at begrænse madspild i produktionen og gøre virksomheden mere bæredygtig. De kan evaluere deres produktionsprocesser og identificere områder, hvor e kan reducere spild, investere i teknologi, der hjælper med at overvåge madspild og samarbejde med leverandører og donation organisationer. </p>
            <p>Lad os sammen tage små skridt og skabe en kultur, der fremmer bæredygtighed og ansvarlig madhåndtering. Sammen kan vi gøre en positiv indvirkning på vores samfund og miljøet. Tak for jeres tid.</p>
        </div>
    </div>
</div>

<!-- Slut på top -->

<hr class = "opdeling">

<!-- Start på midt -->

<div class = "fBaggrund1">
    <img src="../static/Billeder/produktionImprovement.jpg" alt="Main page picture" class = "forbrugerbillede1">
    <div class = "fSpan1">
        <p>Optimer produktionsprocesserne: Virksomheder kan overveje at optimere deres produktionsprocesser for at mindske spild. Dette kan omfatte at implementere mere præcise målinger og styring af ingredienser, justering af produktionslinjer for at reducere tab og affald, og overvågning af produktionen for at opdage og rette eventuelle problemer.</p>
        <p>Forbedr kvalitetskontrollen: Virksomheder kan investere i bedre kvalitetskontrol for at sikre, at produkterne er i overensstemmelse med de krævede standarder og derfor ikke bliver afvist og smidt væk på grund af fejl eller mangler.</p>
        <p>Optimer produktionsplanlægningen: Virksomheder kan planlægge deres produktion mere effektivt for at undgå overproduktion, som kan føre til spild. Dette kan omfatte at indsamle og analysere data om salgsprognoser og produktionstider, og bruge disse oplysninger til at justere produktionen og undgå overskud.</p>
    </div>
</div>

<div class = "fBaggrund2">
    <img src="../static/Billeder/reusability.jpeg" alt="Main page picture" class = "forbrugerbillede2">
    <div class = "fSpan2">
        <p>Implementer genanvendelsesprogrammer: Virksomheder kan implementere genanvendelsesprogrammer for at reducere spild og affald. Dette kan omfatte at genbruge ingredienser og rester til andre formål, som f.eks. dyrefoder, kompostering eller biogasproduktion.</p>
    </div>
</div>

<div class = "fBaggrund3">
    <img src="../static/Billeder/foodDonation.jpeg" alt="Main page picture" class = "forbrugerbillede3">
    <div class = "fSpan3">
        <p>Planlæg dine måltider: Planlæg dine måltider på forhånd, så du ved, hvad du vil spise i løbet af ugen. Tjek din madbeholdning i køleskabet, fryseren og skabe, og køb kun de nødvendige ingredienser for at undgå overkøb.</p>
    </div>
</div>

<!-- Slut på midt -->

<div>
    <hr class = "opdelingBund">
</div>

<!--Start på bund -->

<div class = "bundBaggrund">
    <div class = "row">
        <div class = "column"><img src="../static/Billeder/Detail.png" alt="footer-billede 1" style="width: 50%; border-radius: 5%"></div>
        <div class = "column"><img src="../static/Billeder/Forbruger.jpg" alt="footer-billede 3" style="width: 50%; border-radius: 5%"></div>
    </div>

    <div class = "bundknapper">
        <span class = "bundknap" style="width: 20%"><a class ="bundLinkFarve" href="Detail.html" style="text-decoration: none">DETAIL</a></span>
        <span class = "bundknap" style="width: 20%"><a class ="bundLinkFarve" href="Forbruger.html" style="text-decoration: none">FORBRUGER</a></span>
    </div>
</div>

<!-- Slut på bund-->

<!-- Start på footer-->

<footer>
    <div class = "baggrundsfarveBund"></div>
    <div class="footer-container">
        <div class="footer-content">
            <h3>BugBusters A/S 2023</h3>
            <p> Et ungt team med masser af gåpåmod og gode værdier.</p>
        </div>
        <div class="footer-content">
            <h3>Samarbejdspartnere</h3>
            <ul> <!--Unordered List-->
                <li><a href="https://stopspildafmad.org/">Stop Spild Af Mad</a></li>
                <!--<a> står får anchor og bruges til at lave et hyperlink-->
                <li><a href="https://chat.openai.com/">Chat GPT</a></li>
                <li><a href="https://foedevarebanken.dk/">FødevareBanken</a></li>
                <li><a href="https://www.heinz57.dk/">Heinz</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h3>Kontakt os</h3>
            <p>KEA<br>Nørrebro, Danmark<br>DK</p>
            <!-- <br> er en linebreak, skal ikke have closing brackets-->
            <p>Tlf: 12345678<br>Email: hejmeddig@banan.dk</p>
        </div>
    </div>
</footer>

<!-- Slut på footer-->

</body>
</html>